
        <div id="ctl24">
          <!-- Footer -->
          <footer id="footer">
              <div class="container">
                  <!-- introduce-box -->
                  <div id="introduce-box" class="row">
                      <div class="col-md-3">
                          <div id="address-box">
                              <a href="index.html"> <img alt="Trang chủ Sieucho.vn" title="Sieucho.vn" src="assets/frontend/images/sieucho.ico" />&nbsp;&nbsp;<h3>Siêu chợ</h3>
                              </a>
                              <div id="address-list">
                                  <div class="tit-name">Hotline:</div>
                                  <div class="tit-contain"><a href="tel:+84981282756" title="Click gọi ngay!">0981.282.756</a></div>
                                  <div class="tit-name">Email:</div>
                                  <div class="tit-contain"><a href="mailto:sharecode.contact@gmail.com" title="Click để gửi email!">sssongtu@gmail.com</a></div>
                              </div>
                              <br />
                              <div class="social-link">
                                  <a href="https://www.facebook.com/sharecode.vn"><i class="fa fa-facebook"></i></a>
                                  <a href="https://www.youtube.com/channel/UCrmDzitLIGfSLYQsSe-j6WA"><i class="fa fa-youtube-play"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="introduce-title">VỀ CHÚNG TÔI</div>
                                  <ul id="introduce-company" class="introduce-list">
                                      <li><a href="gioi-thieu.html">Giới thiệu</a></li>
                                      <li><a href="quy-dinh-chung.html">Quy định chung</a></li>
                                      <li><a href="chinh-sach-ban-code.html">Chính sách bán hàng</a></li>
                                      <li><a href="cau-hoi/huong-dan-ho-tro-ky-thuat-16.html">Câu hỏi thường gặp</a></li>
                                      <li><a href="su-kien/%5bkhuyen-mai-thang-4%5d-tang-them-thoi-gian-su-dung-khi-dang-ky-dich-vu-may-chu-19.html">Sự kiện</a></li>
                                  </ul>
                              </div>
                              <div class="col-sm-4">
                                  <div class="introduce-title">HƯỚNG DẪN</div>
                                  <ul id="introduce-Account" class="introduce-list">
                                      <li><a href="cau-hoi/huong-dan-cach-tai-code-mien-phi-14.html">tư vấn miễn phí</a></li>
                                      <li><a href="cau-hoi/huong-dan-cach-tai-code-co-phi-15.html">Tư vấn có phí</a></li>
                                      <li><a href="cau-hoi/huong-dan-nap-tien-vao-tai-khoan-8.html">Hướng dẫn nạp tiền</a></li>
                                      <li><a href="cau-hoi/huong-dan-rut-tien-tu-tai-khoan-7.html">Hướng dẫn rút tiền</a></li>
                                      <li><a href="cau-hoi/huong-dan-ho-tro-ki-thuat-16.html">Hỗ trợ kĩ thuật</a></li>
                                  </ul>
                              </div>
                              <div class="col-sm-4">
                                  <div class="introduce-title">DỊCH VỤ MÁY CHỦ</div>
                                  <ul id="Ul1" class="introduce-list">
                                      <li><a href="dang-ki-ten-mien.html">Đăng kí tên miền</a></li>
                                      <li><a href="hosting-ssd.html">Hosting SSD</a></li>
                                      <li><a href="vps-may-chu-ao.html">Clould VPS</a></li>
                                      <li><a href="email-server.html">Email Server</a></li>
                                      <li><a href="chung-thuc-ssl.html">Chứng thực SSL</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div id="contact-box">
                              <div class="introduce-title">Gửi hỗ trợ - Góp ý</div>
                              <div>
                                  <textarea name="ctl00$txtComment" rows="2" cols="20" id="txtComment" class="form-control send-sp" placeholder="Nội dung &amp; liên hệ của bạn (Email, ĐT)" style="height: 60px; width: 100%;"></textarea>
                                  <div id="errCmt" class="text-error"></div>
                              </div>
                              <br />
                              <div>
                                  <a onclick=" return fosp_cmt();" id="btnSend" class="button-orange" href="javascript:__doPostBack('ctl00$btnSend','')"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>&nbsp; GỬI NHANH</a>
                              </div>
                              <br />
                              <a href="dang-ki-nhan-code.html" class="agreen title5"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Yêu cầu và Đăng kí</a>
                          </div>
                      </div>
                  </div>
                  <div id="trademark-box" class="row">
                      <div class="col-sm-12">
                          <ul id="trademark-list">
                              <li id="payment-methods">Thanh toán đảm bảo</li>
                              <li>
                                  <img src="assets/frontend/images/b1.png" alt="ngan luong" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b10.png" alt="bao kim" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b11.png" alt="momo" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b8.png" alt="paypal" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b5.png" alt="vietcombank" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b9.png" alt="vietin bank" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b6.png" alt="agribank" />
                              </li>
                              <li>
                                  <img src="assets/frontend/images/b7.png" alt="bidv" />
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div id="trademark-text-box" class="row">
                      <div class="col-sm-12">
                          <ul id="trademark-search-list" class="trademark-list">
                              <li class="trademark-text-tit">Top tìm kiếm</li>
                              <li><a href="">Game</a></li>
                              <li><a href="">Balo </a></li>
                              <li><a href="">Sách</a></li>
                              <li><a href="">Áo phao</a></li>
                              <li><a href="">Giày thể thao</a></li>
                          </ul>
                      </div>
                  </div>
                  <div id="footer-menu-box">
                      <p class="text-center">
                          Copyrights © 2020 Sieucho.vn | <a href="privacy-policy.html" rel="nofollow">Privacy Policy</a> | Nội dung đã được bảo vệ bản quyền
                          <a href="http://www.dmca.com/Protection/Status.aspx?ID=e3cfb854-1733-4462-a9e8-0ef4661d6600&amp;refurl=file:///E:/teamplate/mau2/sharecode.vn/index.html" title="DMCA.com Protection Status" class="dmca-badge">
                              <img src="../images.dmca.com/Badges/dmca-badge-w150-5x1-095c56.png?ID=e3cfb854-1733-4462-a9e8-0ef4661d6600" alt="DMCA.com Protection Status" />
                          </a>

                          <script src="../images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                      </p>
                  </div>
              </div>
          </footer>
      </div>
