<div id="home-slider" class="page-home">
  <div class="container">
      <div class="row">
          <div class="col-sm-3 slider-left"></div>
          <div class="col-sm-9 header-top-right">
              <div class="homeslider">
                  <div class="content-slide">
                      <div class="bx-wrapper" style="max-width: 100%;">
                          <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 450px;">
                              <ul id="contenhomeslider" style="width: 415%; position: relative; transition-duration: 0s; transform: translate3d(-666px, 0px, 0px);">
                                  <li style="float: left; list-style: none; position: relative; width: 666px;" class="bx-clone">
                                      <img alt="Phân biệt sharecode.vn và topcode.vn" src="http://www.daitrieu.com/GRAPHIC/img/thiet%20ke%20banner/Thiet-%20Ke-%20Marketing-%20Thuong-%20hieu.jpg"
                                      title="Sharecode.vn thư viện code tham khảo và Topcode.vn sàn code chất lượng cao" />
                                  </li>

                                  <li style="float: left; list-style: none; position: relative; width: 666px;">
                                      <img alt="sharecode cộng đồng download source code" src="https://i.pinimg.com/originals/c2/67/1e/c2671eb42c1d67f059a39d3c71d84156.jpg"
                                      title="Thư viện download code hàng đầu Việt Nam - Upload mỗi ngày!" />
                                  </li>

                                  <li style="float: left; list-style: none; position: relative; width: 666px;">
                                      <img alt="Phân biệt sharecode.vn và topcode.vn" src="http://www.daitrieu.com/GRAPHIC/img/thiet%20ke%20banner/Thiet-%20Ke-%20Marketing-%20Thuong-%20hieu.jpg"
                                      title="Sharecode.vn thư viện code tham khảo và Topcode.vn sàn code chất lượng cao" />
                                  </li>

                                  <li style="float: left; list-style: none; position: relative; width: 666px;" class="bx-clone">
                                      <img alt="sharecode cộng đồng download source code" src="https://i.pinimg.com/originals/c2/67/1e/c2671eb42c1d67f059a39d3c71d84156.jpg"
                                      title="Thư viện download code hàng đầu Việt Nam - Upload mỗi ngày!" />
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="header-banner banner-opacity">
                  <div class="col-md-12 log_re">
                      <div id="mainbody_ucAction_divLogin" class="pad15">
                          <div class="row fa_go">
                              <a
                                  id="mainbody_ucAction_LinkButton1"
                                  title="Đăng nhập nhanh bằng tài khoản Facebook"
                                  class="loginBtn loginBtn-facebook alignleft"
                                  href="javascript:__doPostBack('ctl00$mainbody$ucAction$LinkButton1','')"
                              >
                                  Log in
                              </a>
                              <a
                                  id="mainbody_ucAction_LinkButton2"
                                  title="Đăng nhập nhanh bằng tài khoản Google"
                                  class="loginBtn loginBtn-google alignright"
                                  href="javascript:__doPostBack('ctl00$mainbody$ucAction$LinkButton2','')"
                              >
                                  Log in
                              </a>
                          </div>
                          <div class="row lo_re">
                              <div class="col-md-6 logi" data-toggle="modal" data-target="#LoginForm" onclick="createCaptcha();" role="button">
                                  <p>Đăng nhập</p>
                              </div>
                              <a href="/dang-ki-tai-khoan.htm" class="orange">
                                  <div class="col-md-6 regt">
                                      <p>Đăng kí</p>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12 action">
                      <div class="title_ac bold">
                          SỰ KIỆN GẦN ĐÂY
                      </div>
                      <div class="action_box" style="position: relative; height: 593px; overflow: hidden; display: block;">
                          <ul style="margin: 0px; position: absolute; top: 0px;">
                              <li *ngFor="let item of EventList">
                                  <a href="/thanh-vien/le-tan-tai-379509.htm" target="_blank" class="lnkGreen">{{item.name_Event}}</a> {{item.code}}
                                  <a href="/source-code/lap-trinh-android-weather-api-ung-dung-du-bao-19624.htm" target="_blank" class="lnkOrange">{{item.description}}</a>
                              </li>
                              <li >
                                  <a href="/thanh-vien/huynh-87541.htm" target="_blank" class="lnkGreen">Sự kiện</a> 21/11
                                  <a href="/source-code/source-code-todo-list-xay-dung-theo-mo-hinh-mvc-php-va-mysql-27124.htm" target="_blank" class="lnkOrange">"kỉ niệm nhà giáo Việt Nam"</a>
                              </li>
                              <li style="margin: 0px;"><a href="/thanh-vien/the-hien-ha-380548.htm" target="_blank" class="lnkGreen">Thế Hiển Hà</a> vừa trở thành <span class="Orange">thành viên mới</span> của Siêu chợ</li>

                              <li style="margin: 0px;"><a href="/thanh-vien/the-hien-ha-380548.htm" target="_blank" class="lnkGreen">Thế Hiển Hà</a> vừa trở thành <span class="Orange">thành viên mới</span> của Siêu chợ</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
