<div class="columns-container">
  <div class="container" id="columns" >
    <div>
      <div class="row" id="left_column">
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <div id="boxUserInfo" class="left-module box-border2 bg-colo" itemprop="seller" itemscope="" itemtype="http://schema.org/Organization">
            <div class="block left-module">
              <p class="title_block">EVENT</p>
              <div class="block_content">
                  <ul class="products-block best-sell">
                    <li *ngFor="let item of EventList">
                      <div class="row">
                        <div class="col-xs-9">
                          <h2>{{item.name_Event}} <span style="color:#ff8401">{{item.code}}</span></h2>
                          <p>{{item.description}}</p>
                          <p>mã hoàn tiền <span style="color:#ff2701">{{item.percent}}%</span> tối đa <span style="color:#ff2701">{{(item.max | currency: " ").replace('.00',' ')}} vnđ</span></p>
                        </div>
                        <div class="col-xs-3" style="text-align: center; padding-top: 20px;">
                          <a *ngIf="profile == null" data-toggle="modal" data-target="#LoginForm" class="btn btn-danger" role="button">Lấy mã</a>

                          <a *ngIf="profile != null" data-toggle="modal" class="btn btn-danger" (click)="Getcode(profile.user_id,item.id)" role="button">Lấy mã</a>
                        </div>
                      </div>
                    </li>
                    <li *ngFor="let item of EventList">
                      <div class="row">
                        <div class="col-xs-9">
                          <h2>{{item.name_Event}} <span style="color:#ff8401">{{item.code}}</span></h2>
                          <p>{{item.description}}</p>
                          <p>mã hoàn tiền <span style="color:#ff2701">{{item.percent}}%</span> tối đa <span style="color:#ff2701">{{(item.max | currency: " ").replace('.00',' ')}} vnđ</span></p>
                        </div>
                        <div class="col-xs-3" style="text-align: center; padding-top: 20px;">
                          <a *ngIf="profile == null" data-toggle="modal" data-target="#LoginForm" class="btn btn-danger" role="button">Lấy mã</a>

                          <a *ngIf="profile != null" data-toggle="modal" class="btn btn-danger" role="button">Lấy mã</a>
                        </div>
                      </div>
                    </li>
                    <li *ngFor="let item of EventList">
                      <div class="row">
                        <div class="col-xs-9">
                          <h2>{{item.name_Event}} <span style="color:#ff8401">{{item.code}}</span></h2>
                          <p>{{item.description}}</p>
                          <p>mã hoàn tiền <span style="color:#ff2701">{{item.percent}}%</span> tối đa <span style="color:#ff2701">{{(item.max | currency: " ").replace('.00',' ')}} vnđ</span></p>
                        </div>
                        <div class="col-xs-3" style="text-align: center; padding-top: 20px;">
                          <a *ngIf="profile == null" data-toggle="modal" data-target="#LoginForm" class="btn btn-danger" role="button">Lấy mã</a>

                          <a *ngIf="profile != null" data-toggle="modal" class="btn btn-danger" role="button">Lấy mã</a>
                        </div>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
